.owl-carousel .item {
    /* border: 1px solid black; */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    ;
}

.owl-next {
    float: right;
}

.owl-prev {
    float: left;
}

.owl-prev span {
    font-size: 24px;
    font-weight: bold;
}

.owl-next span {
    font-size: 24px;
    font-weight: bold;
}


/*-----------------------------
Section: Products List
----------------------------- */
:root {
    --breakpoint-xs: 600px;
    --breakpoint-sm: 768px;
    --red: #e41919;
}

img {
    max-width: 100%;
}

body {
    background: #f4f4f4;
    font-family: sans-serif;
}

/* // test */

.mystyle-products {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: var(--breakpoint-xs)) {
        display: block;
    }

    &.slider-products {
        .product {
            width: auto;
            margin-bottom: 0;
        }

    }

    .product {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        padding: 20px;
        background: #fff;

        @media (max-width: var(--breakpoint-sm)) {
            width: 50%;
        }

        @media (max-width: var(--breakpoint-xs)) {
            width: auto;
        }

        &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, .1);
            z-index: 7;

            .btn-circle {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
            }

        }

        h3 {
            font-size: 12px;
            line-height: 20px;
            margin-top: 10px;
            height: 39px;
            overflow: hidden;

            @media (max-width: var(--breakpoint-xs)) {
                height: auto;
            }
        }

        >a {
            position: relative;
            display: block;
            color: #333;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

        }

        .add_to_cart_button {
            display: none;
        }

        .attachment-shop_catalog {
            display: block;
            margin: 0 auto;
        }

        .btn-circle {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: block;
            padding: 0;
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            z-index: 2;
            color: #fff;
            transform: translateY(-20px);
            opacity: 0;
            visibility: hidden;
            transition: color .5s .001s ease-out, background .3s .001s ease-out, visibility .5s .25s ease-out, opacity .5s .25s ease-out, transform .5s .25s ease-out;
        }

        .price {
            font-size: 14px;

            ins {
                text-decoration: none;
                font-weight: 700;
                white-space: nowrap;
            }

            del {
                color: #666;
                font-size: 11px;
                padding-right: 7px;
                white-space: nowrap;
            }

            .sale-tag {
                color: red;
                font-size: 12px;
                padding-left: 7px;
                font-weight: 700;
            }

        }

    }

    .onsale {
        z-index: 6;
        position: absolute;
        top: 15px;
        left: -20px;
        padding: 2px 10px;
        background: var(--red);
        color: #fff;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, .3);
        border-radius: 0 5px 5px 0;
        height: 25px;
        line-height: 25px;
        font-size: 0.8rem;
        font-weight: normal;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 0;

        &:before,
        &:after {
            content: "";
            position: absolute;
        }

        &:before {
            width: 7px;
            height: 33px;
            top: 0;
            left: -6.5px;
            padding: 0 0 7px;
            background: inherit;
            border-radius: 5px 0 0 5px;
        }

        &:after {
            width: 5px;
            height: 5px;
            bottom: -5px;
            left: -4.5px;
            border-radius: 5px 0 0 5px;
            background: #800;
        }
    }
}

/*-----------------------------
Section: Social Media List
----------------------------- */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 5rem;
    background: #111;
}

.social-menu {
    display: flex;
    justify-content: center;
}

.social-btn {
    list-style: none;
    width: 60px;
    height: 60px;
    background: #fff;
    margin: 15px;
    border-radius: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px -5px rgb(255, 255, 255, 0.1);
    transition: all 0.3s;
    z-index: 10px;
}

.social-btn a {
    text-decoration: none;
    color: #fff;
}

.social-btn:hover a {
    color: #fff;
}

.social-menu .social-btn::before {
    content: attr(tooltip);
    position: absolute;
    top: 0;
    font-size: 0.9em;
    font-weight: bold;
    z-index: -1;
    opacity: 0;
    pointer-events: auto;
    background: #fff;
    padding: 10px;
    color: #000;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

.social-menu .social-btn::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    opacity: 0;
    background: #fff;
    transform: rotate(45deg);
    left: 20%;
    z-index: -2;
    transition:
        all 0.3s ease-out;
}

.social-menu .social-btn:hover::before {
    top: -45px;
    opacity: 1;
}

.social-btn:hover::after {
    top: -12px;
    opacity: 1;
}

.facebook a {
    color: #3b5999;
}

.facebook:hover,
.facebook:hover .social-btn:before,
.facebook:hover .social-btn:after {
    background: #3b5999;
}

.instagram a {
    color: #962fbf;
}

.instagram:hover,
.instagram:hover .social-btn:before,
.instagram:hover .social-btn:after {
    background: #962fbf;
}

.pinterest a {
    color: #c8232c;
}

.pinterest:hover,
.pinterest:hover .social-btn:before,
.pinterest:hover .social-btn:after {
    background: #c8232c;
}

.linkedin a {
    color: #0072b1;
}

.linkedin:hover,
.linkedin:hover .social-btn:before,
.linkedin:hover .social-btn:after {
    background: #0072b1;
}