{% extends 'NovaBazaar/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<h1 class="text-center mb-5">Buy Now Your Product</h1>
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div method="post">

                <form method="post" action="{% if cart.product.id %}{% url 'buy-now' product_id=cart.product.id %}{% endif %}">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Place Order</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
