{% extends 'NovaBazaar/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div method="post" action="{% url 'buy-now' product_id=product.id %}">

                <form method="post" action="{% url 'buy-now' product_id=product.id %}">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Place Order</button>
                </form>
            </div>
        </div>
    </div>

    {% endblock main-content %}