{% extends 'NovaBazaar/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Cart{% endblock title %}

{% block main-content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="container my-5">
  <div class="row">
    <h1 class="text-center mb-5">Shopping Cart</h1>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3><strong>Cart</strong></h3>

          {% for cart in carts %}
          <div class="row my-5">
            <div class="col-sm-9">
              <title>{{ cart.product.title }}</title>
              <img alt="" class="attachment-shop_catalog" src="{{ cart.product.product_image.url }}"
                style="width: 150px; height: 150px;">
              <h5 class="card-title"><strong>Name :-</strong> {{ cart.product.title }}</h5>
              <p class="card-text"><strong>Discription :-</strong> {{ cart.product.description }}</p>
              <p class="card-text"><strong>Price :-</strong> {{ cart.product.selling_price }}</p>
            </div>
          </div>

          <div class="col-sm-5 offset-sm-1">
            <div class="number">
              <span class="minus">-</span>
              <input type="text" value={{cart.count}} />
              <span class="plus">+</span>
            </div>

            <div class="d-flex justify-content-between">

              <div style="margin-left: -26%; margin-top: 5px;">
                {% if cart.product.id %}

                <a href="{% url 'checkout' product_id=cart.product.id %}"
                  class="btn btn-danger shadow px-5 py-2 ms-4">Buy
                  Now</a>

                {% endif %}
              </div>
              <div style="margin-right: -26%; margin-top: 5px;">
                <a href="{% url 'remove-from-cart' id=cart.id %}"
                  class="btn btn-warning shadow px-5 py-2 ms-4">Remove</a>
              </div>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h3>The Total Amount of</h3>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Amount<span>
                <p class="card-text">{{ cart.product.selling_price }}</p>
              </span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">Shipping<span>Rs.
                70.00</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>Total</strong> <small>(including VAT)</small>
              </div>
              <span><strong>Rs. 500.00</strong></span>
            </li>
          </ul>
          {% if cart.product and cart.product.id %}
          <div class="d-grid">
            <a href="{% url 'checkout' product_id=cart.product.id %}" class="btn btn-primary">Place Order</a>
          </div>
          {% else %}
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-4">payment accept</h5>
          <img src="{% static 'NovaBazaar/images/payment.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".minus").click(function () {
      var $input = $(this).parent().find("input");
      var count = parseInt($input.val()) - 1;
      count = count < 1 ? 1 : count;
      $input.val(count);
      $input.change();
      return false;
    });
    $(".plus").click(function () {
      var $input = $(this).parent().find("input");
      $input.val(parseInt($input.val()) + 1);
      $input.change();
      return false;
    });
  });

</script>
{% endblock main-content %}