{% extends 'NovaBazaar/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h3>Login</h3>
      <hr>
      <form action="" style="background-color: rgb(255, 186, 83);" method="post" novalidate class="shadow p-5">
        {% csrf_token %}
        {{form.as_p}}

        {% if form.errors %}
        <div class="error">
          <p>Please correct the error below.</p>
        </div>
        {% endif %}

        <small><a href="{% url 'reset_password' %}">Forgot Password ?</a></small> <br>
        <button>Log In</button>
        <br>
        <div class="text-center text-primary fw-bold"><small>New to Clothing Store ? <a
              href="{% url 'customerregistration' %}" class="text-danger">Create an Account</a> </small></div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}