<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Form</title>
    
        <style>
          h1 {
            text-align: center;
        }
          h1 {
            border-bottom: 3px solid #000000;
            /* text-align: center; */
        }
        
          .center {
            margin: auto;
            width: 60%;
            border: 5px solid #00546d;
            padding: 30px;
          }
    
        </style>
    
    </head>


<body style="background-color:rgb(255, 250, 243);">

        <form method="post" action="{% url 'userlogin' %}">
            {% csrf_token %}
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
            <br>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <br>
            <button type="submit">Login</button>
                
            <a href="{% url 'login' %}"></a>
        </form>

      
        <!-- <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="center">
                <h1>User Can Login Here...</h1>
                

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
                <br>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                <br>
                
                <button type="submit">Login</button>
                
                <a href="{% url 'login' %}"></a>
            </div>
        </form> -->

</body>
</html>
