<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Form</title>
    
        <style>
          h1 {
            text-align: center;
        }
          h1 {
            border-bottom: 3px solid #000000;
            /* text-align: center; */
        }
        
          .center {
            margin: auto;
            width: 60%;
            border: 5px solid #00546d;
            padding: 30px;
          }
    
        </style>
    
    </head>

<body style="background-color:rgb(255, 250, 243);">

        <form method="POST">
          {% csrf_token %}
        <div class="center">
          <div class="container signin">
            <p style="margin-left:750px;">Already have an account? <a href="{% url 'login' %}">Log Out</a>.</p>
          </div>
          <h1>User Can Login Here...</h1>
          <br>

          {{ form.as_p }}
          
          <button type="submit">Submit</button>
        </div>

      </form>


</body>
</html>
