{% extends 'NovaBazaar/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">

        {% for obj in my_model_objects %}
        <img src="{% url 'mobile' %}" alt="Image">
        {% endfor %}

        <h2 class="sr-only">Branded Clothes....</h2>

        <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            {% for product in products %}
            <a href="#" class="group">
                <div
                    class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                    <img alt="" class="attachment-shop_catalog" src="{{ product.product_image.url }}"
                        style="width: 200px; height: 200px;">
                </div>
                <h3 class="mt-4 text-sm text-gray-700">{{product.title}}</h3>
                <p class="card-text">{{ product.selling_price }}</p>
                <p class="mt-1 text-lg font-medium text-gray-900"></p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main-content %}