{% extends 'base.html' %}
{% block content %}
 
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam placeat, facilis quas animi corporis eius nostrum accusantium sapiente maxime odit consequuntur in eaque mollitia rem! Asperiores commodi aliquam error eos?</p>
                </div>
            </center>
        </div>
    </div>
{% endblock %}
